pandas==1.5.3
streamlit
altair
watchdog
jax
jaxlib
numpy==1.26.4
scipy
matplotlib
mechafil
# mechafil-jax @ git+https://github.com/kkarrancsu/mechafil-jax.git
mechafil-jax @ git+https://github.com/tmellan/mechafil-jax-equilibrium.git
scenario-generator @ git+https://github.com/protocol/scenario-generator.git
